/* .container {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;
  color: #8c8c8c;
  margin: 0;
}

.container a {
  text-decoration: none;
} */

.login-form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

/* ion-item{
  --padding-bottom: 0px;
  --padding-end: 0px;
  --padding-start: 0px;
  --padding-top: 16px;
} */

/* ion-input.input{
  --background: var(--ion-color-tertiary);
  --color: var(--ion-text-color);
  --padding-bottom: 12px;
  --padding-end: 16px;
  --padding-start: 16px;
  --padding-top: 12px;
  border-radius: 4px;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 500;
} */

.login-text{
  text-align: center;
}

.login-text > a {
  color: var(--ion-text-color);
}

.forgot-link{
  font-size: 14px;
  color: var(--ion-color-blue);
}

.btn-login{
  margin-bottom: 64px;
}