ion-row.order-item {
    background: var(--ion-color-tertiary);
    margin: 16px;
    border-radius: 10px;
    padding: 8px;
}

ion-row.order-item .info-item, 
ion-row.order-item .user-info,
ion-row.order-item .order-btn{
    display: flex;
}

ion-row.order-item .user-info, 
ion-row.order-item .info-item{
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

ion-row.order-item .user-info ion-label{
    font-weight: 500;
}

ion-row.order-item ion-button{
    margin-top: 16px;
}

.info-container{
    background: var(--ion-background-color);
    border-radius: 5px;
}

ion-row.order-item .info-item{
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
}

ion-row.order-item .order-btn{
    align-items: center;
    justify-content: center;
}

.info-label{
    font-weight: 600;
    color: var(--ion-color-medium);
}