.pick-up-address {
  margin: 16px 16px 200px 16px;
}

.pick-up-address-profile {
  margin: 16px;
}

.pick-up-address-header > p {
  display: flex;
  align-items: center;
  margin-top: 0px;
}

.pick-up-address-header > h3 {
  margin-bottom: 8px;
}

.pick-up-address-header > p > span{
  margin-left: 8px;
}