/***NAVIGATION***/
.navbar{
    contain: none;
    overflow: visible;
    border: none;
    background-color: #fafafa;
    padding-bottom: 16px;
}

.nav-icon {
    background-color: #fafafa;
}

.add-product-tab{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-self: center;
    flex: none;
    margin-bottom: 52px;
    outline: 12px solid #fafafa;
}


/*##### GLOBAL BUTTON STYLE #####*/

.btn {
    --border-radius: 1000px;
    font-weight: 600;
    height: 40px;
}

.btn-primary{
    --background: var(--ion-color-primary);
}

.btn-primary--negative{
    --background: #fafafa;
    --color: var(--ion-text-color);
}

.btn-secondary{
    background-color: none;
    --border-color: var(--ion-color-primary);
}

.btn-secondary--negative{
    --background: none;
    --color: #fafafa;
    --border-color: #fafafa;
    --border-width: 2px;
}

ion-badge{
    height: min-content;
}

ion-buttons{
    width: 100%;
}

ion-button{
    width: 100%;
}


/*** FONTS ***/

.default-text{
    font-size: 14px;
    margin: 0;
}

.details-text{
    font-size: 12px;
    margin: 0;
    color: #727272;
}

h1{
    font-size: 28px;
}

h2{
    font-size: 24px;
}

h3{
    font-size: 20px;
    font-weight: 800;
}

/*** FLEXBOX ***/

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

