/***NAVIGATION***/
.navbar{
    contain: none;
    overflow: visible;
    border: none;
    background-color: #fafafa;
    padding-bottom: 16px;
}

.nav-icon {
    background-color: #fafafa;
}

.add-product-tab{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-self: center;
    flex: none;
    margin-bottom: 52px;
    outline: 12px solid #fafafa;
}

.profile-header{
    background-color: #80b918;
}

/*##### GLOBAL BUTTON STYLE #####*/

.btn {
    --border-radius: 1000px;
    font-weight: 600;
}

.btn-primary{
    --background: var(--ion-color-primary);
}

.btn-primary--negative{
    --background: #fafafa;
    --color: var(--ion-text-color);
}

.btn-secondary{
    background-color: none;
    --border-color: var(--ion-color-primary);
}

.btn-secondary--negative{
    --background: none;
    --color: #fafafa;
    --border-color: #fafafa;
    --border-width: 2px;
}

ion-badge{
    height: min-content;
}

ion-buttons{
    width: 100%;
}

ion-button{
    width: 100%;
}





/*** FONTS ***/

.default-text{
    font-size: 14px;
    margin: 0;
}

.details-text{
    font-size: 12px;
    margin: 0;
    color: #727272;
}

/*** FLEXBOX ***/

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

/*** ADD PRODUCT ***/

.progress-names{
    display: flex;
    flex-direction: row;
    padding: 0 32px;
    height: fit-content;
    margin-top: 16px;
    justify-content: space-between;
}

.slide-title{
    margin: 0;
    font-size: 12px;
    font-weight: 600;
}

.add-product-slides{
    width: 100%;
    height: 80%;
    justify-content: flex-start;
}

.add-slide{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: scroll;
}

ion-item.add-list-item{
    --inner-padding-end: 20px;
}

ion-list.form-list{
    width: 100%;
    height: 100%;
    overflow: auto;
}

ion-input.form-input {
    --background: #F5F5F5;
    color: black;
    border-radius: 4px;
    --padding-start: 16px !important;
}

ion-textarea.form-input {
    --background: #F5F5F5;
    color: black;
    border-radius: 4px;
    --padding-start: 16px !important;
}

ion-label.form-label{
    color: black;
    z-index: 999;
    margin-left: 8px;
    font-weight: 600;
}

.swiper-pagination{
    width: 300px !important;
    bottom: 106% !important;
    display: flex;
    margin: 0 8px;
    justify-content: space-between;
    left: 50% !important; 
    margin-left: -150px;
    
}

.swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    color: white;
    background-color: var(--ion-color-primary);
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper{
    overflow: visible;
}

ion-progress-bar{
    margin-top: 16px;    
}
