ion-icon{
    font-size: 24px;
}
/***NAVIGATION***/
.navbar{
    contain: none;
    overflow: visible;
    border: none;
    background-color: #fafafa;
    padding-bottom: 16px;
}

.nav-icon {
    background-color: #fafafa;
}

.add-product-tab{
    background-color: var(--ion-color-primary);
    color: var(--ion-color-primary-contrast);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-self: center;
    flex: none;
    margin-bottom: 52px;
    outline: 12px solid #fafafa;
}

.profile-header{
    background-color: #80b918;
}

/*##### GLOBAL BUTTON STYLE #####*/

.btn {
    --border-radius: 1000px;
    font-weight: 600;
}

.btn-primary{
    --background: var(--ion-color-primary);
}

.btn-primary--negative{
    --background: #fafafa;
    --color: var(--ion-text-color);
}

.btn-secondary{
    background-color: none;
    --border-color: var(--ion-color-primary);
}

.btn-secondary--negative{
    --background: none;
    --color: #fafafa;
    --border-color: #fafafa;
    --border-width: 2px;
}

ion-badge{
    height: min-content;
}

ion-buttons{
    width: 100%;
}

ion-button{
    width: 100%;
}
