ion-img.product-img::part(image){
    border-radius: 8px;
}

ion-toolbar.toolbar-top{
    box-sizing: border-box;
    --background: none;
    --ion-margin-start: 16px;
    --ion-margin-end: 16px;
}

.product-go-back-btn{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    justify-content: center;
    align-items: center;
    background-color: #CECECE;
}

.product-info{
    background: var(--ion-color-light);
    border-radius: 8px;
}

.product-info-name, .owner-info-amount-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-info-name, .owner-info-amount-container ion-badge{
    --ion-padding: 4px;
}

.product-info-title{
    font-size: 32px;
    font-weight: 800;
}

.product-info-item-pick-up-details, .pick-up-address-header{
    display: flex;
    align-items: center;
}

.product-info-item-pick-up-details > p{
    margin-left: 8px;
}

.owner-info-amount-container > p {
    margin-right: 8px;
}

ion-item.owner-info{
    background-color: #0f0f0f;
    border-radius: 8px;
    --padding-bottom: 8px;
    --padding-end: 16px;
    --padding-start: 16px;
    --padding-top: 8px;
}

.pick-up-address{
    margin: 16px 16px 200px 16px;
}

.map{
    width: 100%;
    height: 200px;
    background-color: rgb(220, 220, 165);
    border-radius: 8px;

}

ion-footer.book-btn-container{
    position: fixed;
    background-color: #fafafa2c;
    bottom: 0%;
    height: calc(100vh - 90%);
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-footer.book-btn-container > ion-toolbar > ion-buttons {
    height: 45px;
    border-radius: 100%;
}

ion-footer.book-btn-container > ion-toolbar > ion-buttons > ion-button{
    height: 100%;
}

ion-footer.book-btn-container > ion-toolbar > ion-buttons > ion-button::part(native){
    --border-radius: 100px;
    font-weight: 600;
    color: #fff;
}