.start-section{
  background-color: var(--ion-color-primary);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo-xl{
    width: 280px;
    height: 280px;
    margin: 64px auto 0 auto;
}

.start-title{
  font-size: 20px;
  font-weight: 600;
  margin: 0 16px 0;
  text-align: center;
  color: var(--ion-color-step-50);
}

.buttons-group{
  margin-bottom: 64px;
}