ion-segment.home-segment{
    width: 100%;
    margin: 0 16px;
    --background: var(--ion-color-tertiary);
    border-radius: 12px;
}

ion-segment-button.home-segment-button{
    --indicator-color: #FAFAFA;
    font-size: 14px;
    font-weight: 600;
    --color: var(--ion-color-medium);
    --color-checked: var(--ion-text-color);
    width: 38px;
}

ion-toolbar.home-toolbar{
    --padding-top: 64px;
    --background: transparent;
}

ion-toolbar.home-heading{
    --background: transparent;
}

capacitor-google-map {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.home-map {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.component-wrapper{
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
    top: 0;
}
/* ion-toolbar.home-heading{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
} */

.button-bar{
    display: flex;
    gap: 8px;
    margin: 0 16px;
}

.button-bar ion-button{
    font-size: 14px;
    --color: var(--ion-text-color);
    --background: #FAFAFA;
    --background-activated: #f0f0f0;
    --transition: 0.3s;
}

ion-button.search-btn , ion-button.filters-btn{
    width: fit-content;
}

/* .button-bar ion-searchbar.home-searchbar{
    width: 20px;
    --background: #FAFAFA;
    --icon-color: var(--ion-text-color);
} */

::-webkit-scrollbar{
    display: none;
}

.home-slider {
   max-height: 195px;
   position: fixed !important;
   bottom: 20px;
   left: 0;
   right: 0;
}

.toolbar-background {
    --background: transparent;
}

.filters-modal{
    --padding-top:32px;
    --padding-start:16px;
    --padding-end:16px;
    --padding-bottom:32px;
}

.filter-buttons {
    gap: 16px;
    margin-top: 32px;
}
