.wishlist-container{
    height: 56%;
    overflow-y: scroll;
}

.wishlist-slider{
    max-height: 195px;
}

.wishlist-slider-heading{
    font-size: 16px;
    font-weight: 600;
    margin: 16px 16px 0px;
}