ion-card{
    box-shadow: none;
}

ion-item.product-list-card {
    --padding-start: 0px;
    --inner-padding-end: 0px;
    height: 90px;
    display: flex;
    align-items: flex-start;
    --background: #F5F5F5;
}

ion-card-header.product-list-header{
    padding: 16px 0 16px 16px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 4px;
}

ion-card-header.product-list-details{
    padding: 16px 16px 16px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    height: 100%;
    gap: 4px;
}

.product-list-user{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;
}

ion-card-title.product-list-title{
    font-size: 16px;
}

ion-img.product-card-img{
    height: 90px;
}

ion-img::part(image){
    width: 90px;
    height: 90px;
}

ion-icon.detail-icon{
    font-size: 12px;
}

ion-icon.detail-icon-star{
    font-size: 12px;
    color: var(--ion-color-warning);
}

ion-chip.amount-label{
    font-size: 12px;
    padding-inline: 0;
    margin-inline: 0;
    margin: 0;
    padding: 6px 12px;
    height: fit-content;
    background-color: #1889B9;
    color: white;
    font-weight: 600;
}

ion-icon{
    font-size: 24px;
}
