/*** SLIDER ITEM ***/

ion-card.slider-item{
    --background: var(--ion-background-color);
    width: 144px;
    box-shadow: 0px 4px 20px 5px rgba(0, 0, 0, 0.14);
    ;
}

.img-container{
    height: 92px;
    position: relative;
}

.img-container ion-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.add-basket-btn{
    position: absolute;
    width: auto;
    height: auto;
    top: 8px;
    right: 8px;
    --padding-top: 8px;
    --padding-bottom: 8px;
    --padding-start: 8px;
    --padding-end: 8px;
    
}

ion-card.slider-item ion-card-header{
    padding: 8px 8px 0px 8px;
}

.slider-item ion-card-title.product-name{
    font-size: 14px;
    font-weight: 700;
   
}

.slider-item ion-card-content.distance-info, .slider-item ion-card-content.amount-info{
    color: var(--ion-color-details);
    padding: 2px 8px 8px 8px;
    display: flex;
    align-items: center;
}

.slider-item ion-card-content.distance-info ion-icon{
    margin: 2px;
    font-size: 16px;
}